{% block body %}
    <div class="">
        {{ form_start(form) }}
            {{ form_label(form.name, 'Add Holidays') }}
            {{ form_(form.startDate ) }}
            {{ form_(form.endDate ) }}
            {{ form_(form.dateRequest ) }}
        {{ form_end(form) }}
    </div>
{% endblock %}