      <div class="">
          {#  {{form(searchBar)}} #}
            {{form_start(searchBar)}}
            <ul id="inline_block">
              <li class="inline">{{form_row(searchBar.department)}}</li>
              <li class="inline">{{form_row(searchBar.roles)}}</li>
              <li class="inline">{{form_row(searchBar.firstname)}}</li>
              <li class="inline">{{form_row(searchBar.lastname)}}</li>
              <li class="inline">{{form_end(searchBar)}}</li>
            </ul>
     </div>
