{% block stylesheets %}
<link rel="stylesheet" href="/css/style.css">
{% endblock %}

{% block body %}

    {% if not is_granted('ROLE_ADMIN')%}
    <div class="d-flex">
      <div class="mr-auto p-2">HolidayManager SA</div>
      <div class="p-2">Department: {{ user.getDepartment().getLabel()}}</div>
      <div class="p-2">Name: {{ user.getFirstname() }} {{user.getLastname()}}</div>
      <div class="p-2"><a class="btn-primary" href="{{path("app_logout")}}">Logout</a></div>
    </div>
    {% endif %}

    {% if is_granted('ROLE_ADMIN')%}
    <div class="d-flex">
      <div class="mr-auto p-2">HolidayManager SA</div>
      <div class="p-2">Administrator</div>
      <div class="p-2"><a class="btn-primary" href="{{path("app_logout")}}">Logout</a></div>
    </div>
    {% endif %}


{% endblock %}
