    {% if not is_granted('ROLE_ADMIN')%}
    <div class="d-flex">
      <div class="mr-auto p-2">HolidayManager <img src="/images/Holiday_tae.png" alt="logo" height=30 width="25"> </div>
      <div class="p-2">Department: {{ user.getDepartment().getLabel()}}</div>
      <div class="p-2">Name: {{ user.getFirstname() }} {{user.getLastname()}}</div>
      <div class="p-2"><a id="logoutbutton" class="btn-primary" href="{{path("app_login")}}">Logout</a></div>
    </div>
    {% endif %}

    {% if is_granted('ROLE_ADMIN')%}
    <div class="d-flex">
      <div class="mr-auto p-2">HolidayManager <img src="/images/Holiday_tae.png" alt="logo" height=30 width="25"> </div>
      <div class="p-2">Administrator</div>
      <div class="p-2"><a id="logoutbutton" class="btn-primary" href="{{path("app_login")}}">Logout</a></div>
    </div>
    {% endif %}

