<div class="container" class="dashboardcontainer">
  <div class="" data-provide="">
      <h5 class="h5style">Holiday Request</h5>
      {{ form_start(formHoliday) }}
      <div class="rowLeaveHoliday"><span>{{ form_label(formHoliday.startDate) }}</span>{{ form_widget(formHoliday.startDate) }}</div>
      <div class="rowLeaveHoliday"><span>{{ form_label(formHoliday.endDate) }}</span>{{ form_widget(formHoliday.endDate) }}</div>
      <br>
      <div class="rowLeaveHoliday"><span>Total Days</span>{{ form_widget(formHoliday.endDate) }}</div>
      {{ form_end(formHoliday) }}

      {% if holidayFeedback %}
      <div class="request-message">
        <p id="remessage" class="accepted">Your holiday request has been sent.
      </p>
      </div>
      {% endif %}

      {% if holidayTokenError %}
          <div class="">
              <p class="sameHolidayError">The holiday you requested already exists.</p>
          </div>

      {% elseif holidayCountError %}
          <div class="">
              <p class="noMoreHoliday">You already took all your holiday</p>
          </div>
      {% endif %}


      {% block javascript %}

      <script type="text/javascript">

      $(document).ready(function(){
        $("#remessage").fadeOut(3000);
      });

      </script>

      {% endblock %}

  </div>
</div>
