<div class="container" class="dashboardcontainer">
  <div class="" data-provide="">
      <h5 class="h5style">Holiday Request</h5>
      {{ form_start(formHoliday) }}
      <div class="rowLeaveHoliday"><span>{{ form_label(formHoliday.startDate) }}</span>{{ form_widget(formHoliday.startDate) }}</div>
      <div class="rowLeaveHoliday"><span>{{ form_label(formHoliday.endDate) }}</span>{{ form_widget(formHoliday.endDate) }}</div>
      <br>
      <div class="rowLeaveHoliday"><span>Total Days</span>{{ form_widget(formHoliday.endDate) }}</div>
      {{ form_end(formHoliday) }}
  </div>
</div>
