
{% block stylesheets %}
  <link rel="stylesheet" href="/css/dashboard.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker.css">
{% endblock %}

{% block body %}
    <div class="container" class="dashboardcontainer">
      <div class="" data-provide="">
          <h5 class="h5style">Holiday Request</h5>
          {{ form_start(formHoliday) }}
          <div class="rowLeaveHoliday"><span>{{ form_label(formHoliday.startDate) }}</span>{{ form_widget(formHoliday.startDate) }}</div>
          <div class="rowLeaveHoliday"><span>{{ form_label(formHoliday.endDate) }}</span>{{ form_widget(formHoliday.endDate) }}</div>
          <br>
          <div class="rowLeaveHoliday"><span>Total Days</span>{{ form_widget(formHoliday.endDate) }}</div>
          {{ form_end(formHoliday) }}
      </div>
    </div>
{% block javascripts %}
    <script src="{{ asset('/js/javascript.js') }}"></script>
{% endblock %}
{% endblock %}
