{% for holiday in pending %}
    <div>
        <div>{{ holiday.getUser().getFirstName() }}</div>
        <div>{{ holiday.getUser().getLastname() }}</div>
        <div>{{ holiday.getStartDate() | date }}</div>
        <div>{{ holiday.getEndDate() | date }}</div>
        <div><a class="accept" href="/holiday/accept/{{ holiday.getId() }}">Accept</a></div>
        <div><a class="refuse" href="/holiday/refuse/{{ holiday.getId() }}">Refuse</a></div>
    </div>
{% endfor %}