{% include 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="/css/mail.css">
{% endblock %}

{% block body %}
<div class="bg">
  <div class="container">
    <h5 class="h5style">Activate your Account!</h5>
    <br>
    <p>Welcome to the HolidayManager SA!</p>
    <br>
    <p>Hi <span>{{user.getFirstname()}} {{user.getLastname()}}</span> </p>
    <br>
    <p>Your account at HolidayManager SA has been created.</p>
    <br>
    <br>
    <p>Username: <span>{{user.getUsername()}}</span></p>
    <p>Password: <span>{{user.getPassword()}}</span> </p>
    <br>
    <br>
    <p>You just need to click the link below, to activate your account.</p>
    <a class="btn-primary" href="{{ url('activate_user', {'token' : user.getActivationToken()}) }}">Activation</a>
  </div>
</div>
{% endblock %}
