<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ User Account Activation }}</title>
</head>
<body>

    <p>Dear {{user.getFirstname()}}.{{user.getLastname()}},</p>

    <p>Welcome to the HolidayManager SA</p>
    <p>Your username and password have been created as below:</p>
    <br>
    <ul>
      <li>Username: {{user.getUsername()}}</li>
    <!--  <li>Password: {{user.getPassword()}}</li> -->
    </ul>
    <br>

    <p>In order to activate yoour account,
      <a href="{{ url('activate_user', {'token': user.getActivationToken()}) }}">click this link</a>.
    </p>
    <br>
    <br>
    <p>Your HolidayManager SA Team</p>

</body>
</html>
