{% include 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="/css/dashboard.css">
{% endblock %}

{% if is_granted('ROLE_ADMIN') %}

    {% block body %}
    {% include 'Dashboard/navbar.html.twig' %}

      <h6><a id="backtodashboard2" class="btn-primary" href="/dashboard">Back to Dashboard</a></h6>
     <div class="container">

        <h5 class="h5style">CREATE A NEW USER</h5>
            {{form_start(createForm)}}

            {{form_row(createForm.username)}}
            {{form_widget(createForm.username)}}
            {{form_row(createForm.roles)}}
         <div class="handlingDep">
             {{form_row(createForm.manageDep)}}
         </div>
            {{form_row(createForm.password)}}
            {{form_row(createForm.firstname)}}
            {{form_row(createForm.lastname)}}
            {{form_row(createForm.email)}}
            {{form_row(createForm.birthDate)}}
            {{form_row(createForm.startDate)}}



        {{form_end(createForm)}}

      </div>
        <script src="{{ asset('/js/javascript.js') }}"></script>
    {% endblock %}

{% endif %}
