{% block body %}
    <table class="userList">
        {% for user in users %}
        <tr>
            <th>Username</th>
            <th>Department</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Position</th>
            <th>Holiday Left</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        <tr>
            <td><a href="'/show/user/'{{ user.getId() }}">{{ user.getUsername() }}</a></td>
            <td>{{ user.getDepartment() }}</td>
            <td>{{ user.getFirstname() }}</td>
            <td>{{ user.getLastname() }}</td>
            <td>{{ user.getRoles() }}</td>
            <td>{{ user.getHolidayLeft() }}</td>
            <td><a href="'/user/delete/'{{ user.getId() }}"><i class="fas fa-pencil-alt"></i></a></td>
            <td><a href="'/user/update/'{{ user.getId() }}"><i class="far fa-times-circle"></i></a></td>
        </tr>
    </table>
{% endblock %}
