
{% block stylesheets %}
<link rel="stylesheet" href="/css/dashboard.css">
{% endblock %}

{% block body %}
<div id="userlisttable">
    <table class= "table table-striped" class="userList">
        <tr style="color:grey;">
            <th scope="col">Username</th>
            <th scope="col">Department</th>
            <th scope="col">Firstname</th>
            <th scope="col">Lastname</th>
            <th scope="col">Position</th>
            <th scope="col">Holiday Left</th>
        </tr>
        {% for user in users %}
        <tr>
            <td><a id="username_click" href="/show/user/{{ user.getId() }}">{{ user.getUsername() }}</a></td>
            <td>{{ user.getDepartment().getLabel() }}</td>
            <td>{{ user.getFirstname() }}</td>
            <td>{{ user.getLastname() }}</td>
            <td>{{ user.getRoles()[0] }}</td>
            <td>{{ user.getHolidayLeft() }}</td>
        </tr>
        {% endfor %}
    </table>

    <div class="navigation">
      {{knp_pagination_render(users)}}
    </div>



</div>
{% endblock %}
